<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>AOS: Detail</title>  
  <link rel='stylesheet prefetch' href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel='stylesheet prefetch' href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
  <link rel='stylesheet prefetch' href="{{ url_for('static', filename='css/bootstrapValidator.min.css') }}">

      <link rel="stylesheet" href="{{ url_for('static', filename='css/style-detail.css') }}">

  
</head>

<body>
  <div class="container">

    <form class="well form-horizontal" action="{{url_for('orders.edit_hook')}}" method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>Order Description</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">order Id</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
  <input  name="order_id" placeholder="Order Id" value="{{data.id}}" class="form-control"  readonly   type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Product Name</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
  <input name="product_name" placeholder="Product Name" class="form-control"  disabled value="{{data.product.name}}" type="text">
    </div>
  </div>
</div>

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">Count</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
  <input name="count" placeholder="E-Mail Address" value="{{data.count}}" class="form-control"  type="text">
    </div>
  </div>
</div>


<!-- Text area -->
  
<div class="form-group">
  <label class="col-md-4 control-label">Description</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        	<textarea class="form-control" name="description" placeholder="Project Description">{{data.description}}</textarea>
  </div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" >Update</button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrapvalidator.min.js') }}"></script>

    <script  src="{{ url_for('static', filename='js/js-detail.js') }}"></script>

</body>
</html>
